@page
@model SpecProfiles.Areas.Organizations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].EstablishmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].ShortInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].AdditionalData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Organization) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Industry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalData)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
